<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css"/>
        <title></title>
    </head>
    <body>
        {{!-- {{>header}} --}}

        <h1>{{title}}</h1>

        
        <div>
            <a href="/">Weather</a>
            <a href="/help">Help</a>
            <a href="/about">About</a>
        </div>
        <p>{{message}}</p>
        <p>Created by: {{name}}</p>
        <p>This site is using API from mapbox.com and darksky.net.</p>

        {{!-- {{>footer}} --}}
    </body>
</html>